@import '@carbon/themes/scss/themes';

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import '@carbon/type/scss/styles';
@import "carbon-components/scss/globals/scss/styles.scss";
@import "carbon-components/scss/globals/grid/grid";

.tile--text {
    @include carbon--type-style('body-short-01');
}

.tile--value {
    @include carbon--type-style('display-03');
}

.tile--subtext{
    color: $text-05;
}

.dash--tile {
    height: 120px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section--height-small {
    height: 300px;
}

.section--height-large{
    height: 600px;
}

.actions {
    float: right;
}

.filterDrpDwn {
    width: 18%;
}

.whiteBackground {
    background-color: white;
}

.bx--row-margin{
    margin-bottom: 1px;
}

.bx--col-margin{
    margin-right: 1px;
}

.widget-section {
    background-color: white;
}

.col-only-right-padding {
    padding-left: 0;
    padding-right: 1px;
}

.no-padding {
    padding: 0;
}